[submodule "Kara/vendor/spdlog"]
	path = Kara/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Kara/vender/GLFW"]
	path = Kara/vender/GLFW
	url = https://github.com/RaduDarius/glfw.git
[submodule "Kara/vendor/GLFW"]
	path = Kara/vendor/GLFW
	url = https://github.com/RaduDarius/glfw.git
[submodule "Kara/vendor/imgui"]
	path = Kara/vendor/imgui
	url = https://github.com/RaduDarius/imgui.git
[submodule "Kara/vendor/glm"]
	path = Kara/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Kara/vendor/stb_image"]
	path = Kara/vendor/stb_image
	url = https://github.com/nothings/stb.git
[submodule "Kara/vendor/freetype"]
	path = Kara/vendor/freetype
	url = https://github.com/RaduDarius/freetype.git
